/* CSS para ocultar a imagem da estátua em telas pequenas */
@font-face {
  font-family: 'MinhaFonte';
  src: url('../src/assets/fonts/ITC Avant Garde Gothic LT Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-style: normal;
  font-weight: 800;
  font-family: 'MinhaFonte', sans-serif;
}

@media (max-width: 763px) {
  .logo-width {
    text-align: center;
    gap: '4px';
    width: 100%;
  }
}

/* Animação da logo */
@keyframes logoFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100px); /* Inicia deslocado para cima */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Termina na posição original */
  }
}

.logo-animation {
  animation: logoFadeIn 1.5s ease-out forwards; /* Animação suave */
}

/* Animação da estátua */
@keyframes statueFadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px); /* Inicia deslocado para baixo */
  }
  100% {
  
    transform: translateY(0); /* Termina na posição original */
  }
}

.statue-animation {
  animation: statueFadeIn 2s ease-out forwards; /* Animação suave */
}

/* Certifique-se de que a classe statue-img-resposive ainda está presente para responsividade */
@media (max-width: 768px) {
  .body{
  text-justify: center;

  }
  .statue-img-responsive {
    display: none;
  }
}

